# for osx
# ignore .DS_Store in subdirectories too!
**/*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.RHistory

#*.pyc
#*.pyo

# file or folder ending in .pyc or .pyo. However, it doesn’t match .py!
*.py[co]
matplotlib/covid_cases.py

# ignore directory and contents
# directory at any level / at end
__pycache__/
venv/


# root directory
/scratch

# instead of
#/problems
#/problems/MIT6_006F11_ps1/venv
#/problems/MIT6_006F11_ps1/__pycache__
#/problems/MIT6_006F11_ps1/*.jsonp

# notes on
# https://labs.consol.de/development/git/2017/02/22/gitignore.html

# specific to python EG
# https://github.com/github/gitignore/blob/master/Python.gitignore
